*.apk
*.aar
*.ap_
*.aab

*.dex

*.class
*.hprof

bin/
gen/
out/
release/

.gradle/
build/

/local.properties
local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.DS_Store
.idea/caches
.idea/modules.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/navEditor.xml

*.jks
*.keystore

.externalNativeBuild
.cxx/
.cxx

google-services.json

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

vcs.xml

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/
