<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ozayakcan.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ChatApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chat">
        <activity
            android:name=".Resim.KameraActivity"
            android:exported="false" />
        <activity
            android:name=".KisilerActivity"
            android:exported="false" />
        <activity
            android:name=".Ayarlar.BildirimActivity"
            android:exported="false" />
        <activity
            android:name=".Ayarlar.AyarlarActivity"
            android:exported="false" />
        <activity
            android:name=".Ayarlar.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".Resim.ProfilResmiGoruntuleActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".ArsivActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".MesajActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Giris.BilgilerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".Giris.GirisActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".SSActivity"
            android:exported="true"
            android:theme="@style/SSTema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".Bildirimler.BildirimServisi"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/varsayilan_bildirim_simgesi" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".Servis.BaglantiServisi"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>